ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  color: black;
  font-size: 16px;
  /* border-radius: 5px; */
  margin-bottom: 5px;
}

ul li:hover {
  background-color: rgb(209 213 219);
}

ul li .input-container {
  display: none;
}

ul li div {
  display: flex;
  gap: 10px;
}

ul li div:first-of-type {
  flex-direction: column;
}

ul li div button {
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 8px 20px;
  border-radius: 6px;
  cursor: pointer;
}

ul li div :nth-child(1) {
  background-color: rgb(59 130 246);
}

::backdrop {
  background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
  );
  opacity: 0.75;
}
